# Environment variables for the React application

# Google Analytics configuration
REACT_APP_GOOGLE_DATA_ID=
# EmailJS configuration
REACT_APP_EMAIL_SERVICE_ID=
REACT_APP_EMAIL_TEMPLATE_ID=
REACT_APP_EMAIL_PUBLIC_KEY=